PAPERLESS_URL=https://paperless.home.kalik8s.ru
PAPERLESS_ALLOWED_HOSTS=paperless.home.kalik8s.ru,192.168.1.10,localhost
PAPERLESS_CSRF_TRUSTED_ORIGINS=https://paperless.home.kalik8s.ru,http://192.168.1.10:8000
PAPERLESS_SECRET_KEY=change-me-openssl-rand-hex-32
PAPERLESS_TIME_ZONE=Asia/Tbilisi
PAPERLESS_OCR_LANGUAGE=rus+eng
PAPERLESS_OCR_LANGUAGES=rus
PAPERLESS_OCR_USER_ARGS={"invalidate_digital_signatures": true}
PAPERLESS_FILENAME_FORMAT={{ created_year }}/{{ correspondent }}/{{ title }}
PAPERLESS_CONSUMER_RECURSIVE=true
PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS=true
PAPERLESS_TASK_WORKERS=2
PAPERLESS_THREADS_PER_WORKER=2
