HOMEPAGE_VAR_PROXMOX_TOKEN_ID=homepage@pve!dashboard
HOMEPAGE_VAR_PROXMOX_TOKEN_SECRET=change-me
HOMEPAGE_VAR_PAPERLESS_TOKEN=change-me
HOMEPAGE_VAR_SPEEDTEST_TOKEN=change-me
HOMEPAGE_VAR_ADGUARD_USER=change-me
HOMEPAGE_VAR_ADGUARD_PASS=change-me
